.table {
 position: relative;
  margin: auto;

  border-collapse: collapse;
  /* backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(10px); */
  border-radius: 10px;
  color: #ffffff; 
  padding: 10px;
  width: 1600px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.144); 
  text-align: center;
  font-weight: 400;
  
}

.table th {
  background: rgba(255, 255, 255, 0.562); 
  font-size: 25px;

  font-weight: 800;
  color: black
  

}

.table td {
  background: rgba(235, 235, 235, 0.1); 
  font-size: 21px;
  color: rgb(255, 255, 255)
}

.table tbody tr:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  color:white;
  background-color: red;
}

.btn-danger {
  background-color: rgba(255, 0, 0, 0.7); 
 
}
.btn1
{
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  color:white;
  background-color: green;
}

