.updateDetailsContainer {
  max-width: 600px; 
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #444; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  color: #fff; 
  position: relative;
  font-weight: 800;
}

.updateDetailsHeader {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #ffcc00; 
  font-weight: 800;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  font-weight: 500;
  color: #ffcc00; 
  font-size: 18px;
}

.formControl {
  background-color: rgba(255, 255, 255, 0.2); 
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  width: calc(100% - 20px); 
  font-size: 18px;
}

.formControl::placeholder {
  color: #bbb; 
}

.submitButton,
.backButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  width: 120px; 
}

.submitButton {
  background-color: #28a745; 
  color: #fff;
  margin-right: 10px;
}

.backButton {
  background-color: #6c757d; 
  color: #fff;
}

.submitButton:hover,
.backButton:hover {
  opacity: 0.8; 
}
